<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NControl" version="0.7.1" targetFramework="MonoAndroid51" />
  <package id="NGraphics" version="0.3.1" targetFramework="MonoAndroid51" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid51" />
  <package id="Xamarin.Forms" version="1.4.2.6355" targetFramework="MonoAndroid51" />
</packages>